.parent{
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
}

.pic{
    position: absolute;
}

.container{
    display:flex;
    background-color: hsl(225, 100%, 98%);
    padding: 1rem 1rem;
        
}

.son{
    flex-direction: column;
    display: flex;
}

body{
    position: relative;
    background-color: hsl(225, 100%, 94%);
    font-family: 'Red Hat Display', sans-serif;

}

.bg{
    background-color: white;
}

.subtitle{
    padding: 1rem 2rem 1rem 2rem;
}

.music{
    margin: 1rem 1rem 1rem 1rem ;
}

h2{
    font-weight: 900;
    font: bold;
    font-size: 1.5rem;
}

p{

    font-size: small;

}

.btn {
    -webkit-border-radius: 9;
    -moz-border-radius: 9;
    border-radius: 9px;
    font-family: 'Red Hat Display', sans-serif;
    color: #ffffff;
    font-size: 16px;
    background: #0038d1;
    padding: 10px 60px 10px 60px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #6e71b3;
    background-image: -webkit-linear-gradient(top, #6e71b3, #8496e0);
    background-image: -moz-linear-gradient(top, #6e71b3, #8496e0);
    background-image: -ms-linear-gradient(top, #6e71b3, #8496e0);
    background-image: -o-linear-gradient(top, #6e71b3, #8496e0);
    background-image: linear-gradient(to bottom, #6e71b3, #8496e0);
    text-decoration: none;
  }

  .my-btn {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    color: rgb(175, 175, 175);
}

.my-btn:hover{
    background: white;
    color: black;
}